<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/style-botoes-cadastrar.css">
	<link rel="icon" type="image/svg" href="LogoO.svg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<title>Caramello</title>
</head>
<body>
	<header>
		<img src="/public/Caramello.svg">
	</header>
	<div id="idback">
		<a href="http://localhost:3000/index">
			<img src="/public/arrow-left-solid.svg" id="back">
		</a>
	</div>
	<div id="titulo">
		<h1>CADASTRAR</h1>
	</div>
	<main>
		<a href="http://localhost:3000/cadastro-cantina" class="abotoes">
			<div class="divprincipal">
				<div class="divsecundaria">
					<img src="/public/store.svg" class="imagens">
				</div>
				<div class="divsecundaria">
					<p class="nomes">CANTINA</p>
				</div>
			</div>
		</a>
		<a href="http://localhost:3000/cadastro-estudante" class="abotoes">
			<div class="divprincipal">
				<div class="divsecundaria">
					<img src="/public/user.svg" class="imagens">
				</div>
				<div class="divsecundaria">
					<p class="nomes">ESTUDANTE</p>
				</div>
			</div>
		</a>
	</main>
	<footer>
		<div id="copy">
			Copyright © | Caramello 2023 
		</div>
	</footer>
</body>
</html>