<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/style-logado.css">
	<link rel="icon" type="image/svg" href="LogoO.svg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<title>Caramello</title>
</head>
<body>
	<header>
		<img src="/public/Caramello.svg">
	</header>
	<div id="idback">
		<a href="http://localhost:3000/index">
			<img src="/public/arrow-left-solid.svg" id="back">
		</a>
	</div>
	<div id="titulo">
		<h1>Você não está em nenhuma cantina no momento ... </h1> <!--É assim q coloca--> <!--Eu tinha colocado, mas parece q isso tava dando 
		erro na tela de login, mas basicamente oq eu tinha feito é <%= email %>-->

		<!--Na verdado não era isso que tava dando o erro, mas de qualquer forma eu tirei-->
	</div>
	<footer>
		<div id="copy">
			Copyright © | Caramello 2023 
		</div>
	</footer>
</body>
<script src="script.js"></script>
</html>