<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/style-login-estudante.css">
	<link rel="icon" type="image/svg" href="LogoO.svg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<title>Caramello</title>
</head>
<body>
	<header>
		<img src="/public/Caramello.svg">
	</header>
	<div id="idback">
		<a href="http://localhost:3000/botoes-login">
			<img src="/public/arrow-left-solid.svg" id="back">
		</a>
	</div>
	<div id="titulo">
		<h1>LOGIN DE ESTUDANTE</h1>
	</div>
	<form action="/login-estudante" method="POST">
		<input class="inputform" name="email" type="email" placeholder="E-mail" required oninvalid="this.setCustomValidity('Campo requerido')" 
		onchange="try{setCustomValidity('')}catch(e){}">
		<input class="inputform" name="senha" type="password" placeholder="Senha" required oninvalid="this.setCustomValidity('Campo requerido')" 
		onchange="try{setCustomValidity('')}catch(e){}">
		<div id="p-login">
			<p><a href="" id="esqueceu">Esqueceu a senha?</a></p>
			<p>Ainda não tem uma conta?</p>
			<p>Faça seu <a href="cadastro-estudante.html" id="cadastro">Cadastro</a></p>
		</div>
		<input id="btnentrar" name="cadastrar" type="submit" value="ENTRAR">
	</form>
	<footer>
		<div id="copy">
			Copyright © | Caramello 2023 
		</div>
	</footer>
</body>
</html>